<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List of Shows</title>
</head>
<body>
<a th:href="@{/moviez/list}" th:text="'Home'" />
<p></p>
<a th:href="@{/user/list}" th:text="'Users'" />
<p></p>
<a th:href="@{/moviez/add}" th:text="'Add titles'" />
<a th:href="@{/user/add}" th:text="'Add user'" />
<p></p>
<a th:href="@{/moviez/?isWatched=true}" th:text="'Watched'" />
<a th:href="@{/moviez/?search=movie}" th:text="'Movies'" />
<a th:href="@{/moviez/?search=serial}" th:text="'Serials'" />

<form th:action="@{/moviez/list}" th:object="${search}" method="get">
    <input type="search" name="search" />
    <button type="submit" value="Submit">Search</button>
</form>
<p></p>
    <h1>List of Shows</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Score</th>
            <th>Likes</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Type</th>
            <th>Watched</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="movie:${moviez}">
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.score}"></td>
            <td><a th:href="@{'{id}/up'(id=${movie.id})}" >+</a>
                <a th:href="@{'{id}/down'(id=${movie.id})}">-</a></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.genre}"></td>
            <td th:text="${movie.type}"></td>
            <td th:if="${movie.isWatched()}">Yes</td>
            <td th:unless="${movie.isWatched()}">No</td>
            <td><a th:href="@{/moviez/{id}/edit(id=${movie.id})}" >Edit</a></td>
            <td><a th:href="@{/moviez/{id}/delete(id=${movie.id})}" >Delete</a></td>
        </tr>
    </table>

</body>
</html>